*{
    margin: 0;
    padding: 0;
    outline: 0px;
    box-sizing: border-box;
}

body{
    background-color: #EBEBEB;
}

header {
    background-color: rgb(71, 22, 22);
}

header div p {
    color: #FAD61D;
    font-size: 12px;
}

p {
    margin: 0;
}

.products div {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 15px;
    -webkit-filter: drop-shadow(0px 0px 7px rgb(223, 223, 223));
}

.products div:hover{
    cursor: pointer;
    transition: 0.4s;
    -webkit-filter: drop-shadow(0px 0px 7px rgb(180, 180, 180));
}

a {
    text-decoration: none;
    color: black;
}

header a {
    color: white;
}

header a:hover{
    font-weight: bold;
}

.sold {
    color: #b8b8b8;
}